/*Font for Canvas*/

/* Use this font-face with your font files but leave the name to change the font
@font-face {
    font-family: 'annotatorFont';
}*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


#upload-area {
    font-family: 'clearSansBold',sans-serif;
}

html, body {
  height: 100%;
  font-family: "Inter", sans-serif !important;
}

#container {
    display: flex;
    width: 100%;
    background: #618056;
    padding: 100px 0;
}

#work-area {
    margin: auto;
    /* display: flex; */

}

/* #wpia-toolbar{
    display: flex ;
    justify-content: space-between;
} */


ul.buttons {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
    display: flex ;
    align-items: center ;
    gap: 6px;
    /* flex-direction: column; */
}

ul.buttons li {
    /* display: inline-block; */
    color: #909090;
    border-radius: 20px ;
    margin-right: 5px;
    padding: 10px ;
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    text-align: center;
    transition: 0.3s ;
    display: flex ;
    justify-content: center;
    align-items: center;
}

ul.buttons li:hover{
    background-color: #efefef;
}

ul.buttons li.active {
    color: #fff;
    /* background: #ffa2ba; */
    background:#19b394 ;
    /* background: #f0f0f1 ; */
    box-shadow: 2px 2px 10px rgba(206, 206, 206, 0.468) ;
    /* color: #19b394; */
}

ul.buttons li:hover, ul.buttons:hover {
    cursor: pointer;
}

#main-canvas, #canvas-area {
    width: 100%;
    background: transparent ;
    position: relative;
    /* border : 2px solid ; */
}

#canvas-area img {
    position: absolute;
    max-width: 100%;
    min-width: 300px;
    min-height: 150px;
}

#upload-area {
    margin-bottom: 25px;
    margin-top: 15px ;
}

#image_annotation_json {
    width: 100%;
}

#raw-code {
    width: 100%;
    clear: both;
    padding-top: 25px;
    display: none;
}


#raw-code textarea {
    height: 600px;
}

#wpia-meta #upload_image {
    display: none;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
  }

  #popup img{
    width: 50% ;
    height: 50vh ;
    object-fit: contain;
  }

  #imp{
      color: red;
  }

  .icon-button{
    padding-top: 4px ;
    /* font-size: 20px ;
    font-weight: 600 ; */
  }

  .download-btn{
    background-color: #19b394 !important;
    color: white !important;
    min-width: 100px !important;
    font-size: 14px !important;
    display: flex ;
    gap: 4px !important ;
    align-items: center;
    justify-content: center ;
    border-radius: 5px !important ;
    /* padding: 8px 10px !important; */
    padding: 6px 12px !important;
  }

    .imgLoader{
      display: none ;
    }

    #fileImage , .upload_image_button , #pasteImage{
        background-color: #19b394 ;
        color: white ;
        padding: 6px 12px;
        border-radius: 5px ;
        border: none ;
        /* border: 2px solid ; */
        /* font-weight: bold ; */
        font-size: 14px ;
        min-width: 100px ;
        display: flex ;
        align-items: center;
        gap: 4px;
    }

    #upload_image_button{
      background-color: #19b394;
      color : white ;
      border: none;
    }

    #cropButton{
      background-color: #19b394 ;
      color: white ;
      padding: 6px 12px;
      border-radius: 5px ;
      border: none ;
      font-size: 14px ;
      min-width: 100px ;
      display: flex ;
      justify-content: center;
      align-items: center;
      gap: 4px;
    }

    #color{
        margin-bottom: 10px ;
    }

    .color-button{
      position: relative;
    }

    input[type="color"]{
        /* border: none ; */
        min-width: 30px !important;
        position:  relative !important;
        margin-top: 4px;
        appearance: none ;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

  #colorInput{
    padding: 4px 12px;
    border-radius: 4px ;
    background-color: #fff ;
    border: 2px solid #19b394;
    color: #19b394;
    font-weight: 600;
  }

  .buttons{
    position: relative;
  }

  .download-div{
    padding: 10px;
    position: absolute;
    width: 180px ;
    background-color: white ;
    border-radius: 6px ;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center ;
    gap: 10px ;
    border: 1px solid rgba(128, 128, 128, 0.338) ;
    box-shadow: 0px 0px 2px rgba(172, 172, 172, 0.664) ;
    display: none ;
    flex-wrap: wrap;
    z-index: 999 ;
    right: -230px !important;
    top : 0;
  }

  
  .download-div button{
    width: 100% ;
    background-color: #19b394;
    color: white ;
    border: 2px solid #19b394;
    border-radius: 4px ;
    padding: 8px;
    font-weight: 500;
    cursor: pointer;
  }

  .download-custom:hover{
    background-color: #fff;
    color: #19b394;
    border:2px solid #19b394 ;
  }

  .show{ display: flex ; }
  .hide{ display: none !important; }

  /* .disabled{
    opacity: 0.4 !important;
    cursor: not-allowed !important;
  } */

  .buttons-side{
    display: flex ;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 45px;
    gap: 6px ;
  }
  
  /* .buttons-side li{
    font-size: 22px !important;
  } */

  .top-bar{
    display: flex ;
    justify-content: space-between ;
  }

  .bottom-div{
    display: flex ;
    gap: 30px;
  }

  .tool-button {
    position: relative;
    font-size: 16px ;
    padding: 0;
  }
  
  .tool-button:hover::before {
    content: attr(data-title);
    position: absolute;
    background-color: #333;
    color: white ;
    text-align: left;
    padding: 5px 10px;
    border-radius: 5px ;
    font-size: 12px;
    white-space: nowrap;
    left: 100%;
    transition: 0.2s ;
    animation-name: bounce ;
    animation-duration: 300ms ;
    animation-direction: alternate;
    transition: 0.2s linear ;
    transform: translateY( 0px) ;
    z-index: 10;
  }

  .top-bar li:hover::before{
    content: attr(data-title);
    position: absolute;
    background-color: #333;
    color: white ;
    text-align: left;
    padding: 5px 10px;
    border-radius: 5px ;
    font-size: 12px;
    white-space: nowrap;
    left: 10%;
    bottom: 110%;
    transition: 0.2s ;
    animation-name: slide ;
    animation-duration: 300ms ;
    animation-direction: alternate;
    transition: 0.2s linear ;
    transform: translateX( 0px) ;
  }

  @keyframes bounce {
      from { transform: translateY(-5px);  }
      to { transform: translateY(0px );}
  }

  @keyframes slide {
    from { transform: translateX(5px);  }
    to { transform: translateX(0px );}
  }

  .insert-an-image{
    height: 400px;
    width: 600px;
    background-color: transparent;
    color: rgb(182, 182, 182);
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center ;
    font-weight: bold ;
    position: relative;
    /* left: 40px ; */
    z-index: 5 ;
  }

  .insert-an-image h1{
    color: rgb(182, 182, 182);
    font-weight: 500 ;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
  }

  .upload-bar{
    display: flex ;
    width: 100%;
    justify-content: space-between;
    align-items: start;
  }

  .upload-bar ul , li{
    margin: 0;
  }

  #loadImage-buttons{
    display: flex;
    gap: 10px;
  }

canvas{
  border: 1px solid rgb(203, 203, 203) !important;
}

#fileNameInput{
  padding: 6px 8px ;
  border : none ;
  border-radius: 5px ;
  font-size: 14px ;
  font-weight: 500;
  min-width: 100px ;
  height: 12px !important;
  outline: 2px solid #19b394;
}

